/* Thin */
@font-face {
	font-family: "TomatoGrotesk Thin";
	src: url("../fonts/TomatoGrotesk-Thin.otf") format("opentype");
	font-weight: 100; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Thin Italic */
@font-face {
	font-family: "TomatoGrotesk Thin Italic";
	src: url("../fonts/TomatoGrotesk-ThinSlanted.otf") format("opentype");
	font-weight: 100; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Light */
@font-face {
	font-family: "TomatoGrotesk Light";
	src: url("../fonts/TomatoGrotesk-Light.otf") format("opentype");
	font-weight: 300; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Light Italic */
@font-face {
	font-family: "TomatoGrotesk Light Italic";
	src: url("../fonts/TomatoGrotesk-LightSlanted.otf") format("opentype");
	font-weight: 300; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Extra Light */
@font-face {
	font-family: "TomatoGrotesk Extra Light";
	src: url("../fonts/TomatoGrotesk-ExtraLight.otf") format("opentype");
	font-weight: 300; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Extra Light Italic */
@font-face {
	font-family: "TomatoGrotesk Extra Light Italic";
	src: url("../fonts/TomatoGrotesk-ExtraLightSlanted.otf") format("opentype");
	font-weight: 300; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Regular */
@font-face {
	font-family: "TomatoGrotesk Regular";
	src: url("../fonts/TomatoGrotesk-Regular.otf") format("opentype");
	font-weight: 400; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Italic */
@font-face {
	font-family: "TomatoGrotesk Italic";
	src: url("../fonts/TomatoGrotesk-Slanted.otf") format("opentype");
	font-weight: 400; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Medium */
@font-face {
	font-family: "TomatoGrotesk Medium";
	src: url("../fonts/TomatoGrotesk-Medium.otf") format("opentype");
	font-weight: 400; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Medium Italic */
@font-face {
	font-family: "TomatoGrotesk Medium Italic";
	src: url("../fonts/TomatoGrotesk-MediumSlanted.otf") format("opentype");
	font-weight: 400; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Bold */
@font-face {
	font-family: "TomatoGrotesk Bold";
	src: url("../fonts/TomatoGrotesk-Bold.otf") format("opentype");
	font-weight: 700; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Bold Italic */
@font-face {
	font-family: "TomatoGrotesk Bold Italic";
	src: url("../fonts/TomatoGrotesk-BoldSlanted.otf") format("opentype");
	font-weight: 700; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Extra Bold */
@font-face {
	font-family: "TomatoGrotesk Extra Bold";
	src: url("../fonts/TomatoGrotesk-ExtraBold.otf") format("opentype");
	font-weight: 700; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Extra Bold Italic */
@font-face {
	font-family: "TomatoGrotesk Extra Bold Italic";
	src: url("../fonts/TomatoGrotesk-ExtraBoldSlanted.otf") format("opentype");
	font-weight: 700; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Black */
@font-face {
	font-family: "TomatoGrotesk Black";
	src: url("../fonts/TomatoGrotesk-Black.otf") format("opentype");
	font-weight: 900; /* Adjust the font weight */
	font-style: normal; /* Adjust the font style */
}

/* Black Italic */
@font-face {
	font-family: "TomatoGrotesk Black Italic";
	src: url("../fonts/TomatoGrotesk-BlackSlanted.otf") format("opentype");
	font-weight: 900; /* Adjust the font weight */
	font-style: italic; /* Adjust the font style */
}

/* Thin */
.thin-font {
	font-family: "TomatoGrotesk Thin", sans-serif;
	font-weight: 100; /* Adjust the font weight if necessary */
}

/* Thin Italic */
.thin-italic-font {
	font-family: "TomatoGrotesk Thin Italic", sans-serif;
	font-weight: 100; /* Adjust the font weight if necessary */
}

/* Light */
.light-font {
	font-family: "TomatoGrotesk Light", sans-serif;
	font-weight: 300; /* Adjust the font weight if necessary */
}

/* Light Italic */
.light-italic-font {
	font-family: "TomatoGrotesk Light Italic", sans-serif;
	font-weight: 300; /* Adjust the font weight if necessary */
}

/* Extra Light */
.extra-light-font {
	font-family: "TomatoGrotesk Extra Light", sans-serif;
	font-weight: 300; /* Adjust the font weight if necessary */
}

/* Extra Light Italic */
.extra-light-italic-font {
	font-family: "TomatoGrotesk Extra Light Italic", sans-serif;
	font-weight: 300; /* Adjust the font weight if necessary */
}

/* Regular */
.regular-font {
	font-family: "TomatoGrotesk Regular", sans-serif;
	font-weight: 400; /* Adjust the font weight if necessary */
}

/* Italic */
.italic-font {
	font-family: "TomatoGrotesk Italic", sans-serif;
	font-weight: 400; /* Adjust the font weight if necessary */
}

/* Medium */
.medium-font {
	font-family: "TomatoGrotesk Medium", sans-serif;
	font-weight: 400; /* Adjust the font weight if necessary */
}

/* Medium Italic */
.medium-italic-font {
	font-family: "TomatoGrotesk Medium Italic", sans-serif;
	font-weight: 400; /* Adjust the font weight if necessary */
}

/* Bold */
.bold-font {
	font-family: "TomatoGrotesk Bold", sans-serif;
	font-weight: 700; /* Adjust the font weight if necessary */
}

/* Bold Italic */
.bold-italic-font {
	font-family: "TomatoGrotesk Bold Italic", sans-serif;
	font-weight: 700; /* Adjust the font weight if necessary */
}

/* Extra Bold */
.extra-bold-font {
	font-family: "TomatoGrotesk Extra Bold", sans-serif;
	font-weight: 800; /* Adjust the font weight if necessary */
}

/* Extra Bold Italic */
.extra-bold-italic-font {
	font-family: "TomatoGrotesk Extra Bold Italic", sans-serif;
	font-weight: 800; /* Adjust the font weight if necessary */
}

/* Black */
.black-font {
	font-family: "TomatoGrotesk Black", sans-serif;
	font-weight: 900; /* Adjust the font weight if necessary */
}

/* Black Italic */
.black-italic-font {
	font-family: "TomatoGrotesk Black Italic", sans-serif;
	font-weight: 900; /* Adjust the font weight if necessary */
}
